@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --primary-color: #ffdd00;
  --secondary-color: #55c1ff;
  --third-color: #ff3a20;
  --fourth-color: #2a2a2a;
  --fifty-color: #000000;
  --sixty-color: #8a3ffc;
  --seventy-color: #333333;

  /*Font*/
  --primary-font: "Bangers", sans-serif;
}

button {
  all: unset;
}
