.CharactereHeroPage {
  background: radial-gradient(var(--sixty-color), var(--seventy-color));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  font-family: var(--primary-font);
}

.CharactereHeroPage > h1 {
  margin: 1rem;
  letter-spacing: 2px;
  -webkit-text-stroke: 6px var(--fifty-color);
  paint-order: stroke fill;
}

.CharacterHero_input {
  height: 2rem;
  margin-bottom: 1rem;
}

.CharacterHero_input > select {
  height: 100%;
}

.CharacterHero_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.CharacterHero {
  width: 45%;
  margin-bottom: 1rem;
}
