.Edit_Hero_background {
  background: radial-gradient(var(--sixty-color), var(--seventy-color));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
  align-items: center;
  font-family: var(--primary-font);
}

.Edit_hero_remake,
.Edit_hero_delete {
  background-color: var(--secondary-color);
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: 2px solid var(--fifty-color);
  -webkit-text-stroke: 6px var(--fifty-color);
  paint-order: stroke fill;
  color: var(--primary-color);
}

.Container_title > h2 {
  color: var(--primary-color);
  -webkit-text-stroke: 6px var(--fifty-color);
  paint-order: stroke fill;
  margin: 0.5rem 0;
}

.Container_submit,
.Container_title,
.Container_delete {
  display: flex;
  justify-content: center;
}
